body {
  display: flex;
  flex-direction: column;
  background-image: url(https://media.istockphoto.com/id/1196178800/photo/cropped-view-of-man-and-woman-playing-in-checkers-on-wooden-background.jpg?s=612x612&w=0&k=20&c=LzdgD1ek6FOtzOICQ7oBM5s9nK-JmiqcmKAapHW0vUE=);
  background-size: cover;
  color: white;
}

h1 {
  font-size: 4.5rem;
  padding: 10px;
  width: 37vh
}

h2 {
  font-size: 2.5rem;
  padding: 10px;
  width: 13vh;
}

ol {
  font-size: 1.25rem;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  cursor: pointer;
}

h1, h2, ol {
  border: 5px solid white;
}
